<ion-header >
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://akcdn.detik.net.id/visual/2023/09/06/google-maps-ktt-asean_169.png?w=715&q=90">
  <ion-card>
    <ion-card-content>
      <p>Adress: Fake street, 111</p>
      <p>Complement: DOnut shop</p>
      <p>Neighborhood: Ngadinegaran</p>
      <p>Zip code: 000000</p>
      <p>City: Yogyakarta</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" (click)="newPickupCall()">Create pickup call</ion-button>
</ion-content>
